.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  right: 60px;
  @include tablet {
    right: 20px;
  }
}
.swiper-button-prev {
  left: 60px;
  @include tablet {
    left: 20px;
  }
}

.swiper-slide {
  margin: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
