@keyframes slideInRight {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(-3%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-left {
  animation: 1s ease-in-out 0s 1 slideInLeft;

  @include tablet {
    animation: 1s ease-in-out 0s 1 slideInBottom;
  }
}

.slide-right {
  animation: 1s ease-in-out 0s 1 slideInRight;

  @include tablet {
    animation: 1s ease-in-out 0s 1 slideInBottom;
  }
}

.slide-bottom {
  animation: 1s ease-in-out 0s 1 slideInBottom;
}

.opacity {
  animation: 1s ease-in-out 0s 1 opacity;
}
