.about {
  margin-top: 100px;

  &-text-img {
    height: 60vh;

    @include laptop {
      margin-bottom: 5rem;
    }

    @include small-phone {
      height: 90vh;
    }
  }

  &-title {
    padding-bottom: 1rem;
  }

  .text-wrap {
    max-width: 500px;
    padding: 2rem 0;
  }

  &-text {
    max-width: 50%;
    margin: 0 auto;

    @include tablet {
      max-width: 100%;
    }

    p {
      padding: 1rem 0;
    }
  }
}
